<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"></link>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace="Layout/plantilla::header"></header>
       
        <h2>[[#{persona.formulario}]]</h2>
        <a th:href="@{/}">[[#{accion.regresar}]]</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${persona}">
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
            <br/>
            <label for="nombre">[[#{tabla.nombre}]]:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
            <br/> <br/>

            <label for="apellido">[[#{tabla.apellido}]]:</label>
            <input type="text" name="apellido" th:field="*{apellido}"/>
            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Apellido</span>
            <br/> <br/>

            <label for="email">[[#{tabla.email}]]:</label>
            <input type="text" name="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error Email</span>
            <br/> <br/>

            <label for="telefono">[[#{tabla.telefono}]]:</label>
            <input type="text" name="telefono" th:field="*{telefono}"/>
            <br/> <br/>
            
            
            <input type="submit" name="guardar" th:value="#{accion.guardar}"/>

        </form>
        
        <footer th:replace="Layout/plantilla::footer"/>
        
    </body>
</html>
